.switch {
  height: 100%;
  background: transparent;
  padding: var(--padding-xs);
  display: flex;
  justify-content: center;
  border-radius: var(--b-radius-sm);
}

.switch:hover {
  background: var(--dark-hover);
  cursor: pointer;
}

[data-theme="dark"] .switch:hover {
  background: var(--light-hover);
  cursor: pointer;
}
