.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 250px;
}

.loader {
  animation: spin 1s infinite linear; /* Example animation */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
