.md {
  /* width: 100px !important; */
  max-width: 350px !important;
}

.lg {
  max-width: 750px !important;
}

.container {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  align-items: flex-start;
  background: var(--blue-dark);
}
.container:hover {
  /* cursor: pointer; */
  /* background: var(--blue-dark-hover); */
}

.image {
  object-fit: contain;
}

.containerTitle {
  display: flex;
  align-items: flex-start;
  max-width: 250px;
}
.imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  width: 100%;
  text-align: justify;
  /* line-height: 5px; */
}

.content {
  width: 100%;
  text-align: justify;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.info {
  color: var(--gray-hover);
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.techno {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.workLink {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}

.link {
  background: var(--dark-hover);
  padding: 1px 5px 2px 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.link a {
  color: var(--gray-hover);
  font-weight: 300;
  font-size: 12px;
}

.link a:hover {
  /* color: var(--primary-bg); */

  /* text-decoration: underline; */
}

.copy {
}

.copy:hover {
  color: var(--dark);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 40px;
    padding: 20px 5px;
    height: 100%;
  }

  .containerTitle {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
  }

  .work {
    flex-direction: column;
    gap: 20px;
  }

  .md {
    /* width: 100px !important; */
    max-width: 100% !important;
  }

  .lg {
    /* width: 400px !important; */
  }
}
