.dropdown {
  cursor: pointer;
  outline: none;
}

.dropdownTrigger {
  cursor: pointer;
}

.dropdownMenu {
  background-color: var(--background);
  border-radius: 4px;
  outline: none;
  border: none;
  color: var(--foreground);
  box-shadow: var(--shadow-md);
}

.dropdownItem {
  list-style: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.dropdownItem:hover {
  background-color: var(--gray-hover);
  padding: 8px 16px;
  border-radius: 4px;
}

.labelWrapper {
  cursor: pointer;
  height: 100%;
  background: transparent;
  padding: var(--padding-xs);
  display: flex;
  justify-content: center;
  border-radius: var(--b-radius-sm);
}

.labelWrapper:hover {
  background: var(--dark-hover);
  cursor: pointer;
}

[data-theme="dark"] .labelWrapper:hover {
  background: var(--light-hover);
  cursor: pointer;
}

[data-theme="dark"] .dropdownItem:hover {
  background-color: var(--dark-hover);
  padding: 8px 16px;
  border-radius: 4px;
}
