.container {
  min-height: 100vh;
  /* background-color: var(--blue-dark); */
  color: #f3f4f6;
  /* font-family: "La", sans-serif; */
  width: 100%;
  /* position: absolute; */
}

.header {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.headerTitle {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  z-index: 10;
  animation: fadeInUp 1s ease-out;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  /* padding-top: 150px; */
}

.banner {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 80px;
  height: 100vh;
}

.scrollDownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 20vh;
}

.loadingContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .main {
    padding: 20px 10px;
  }
}
