.lato {
  font-family: "Lato", sans-serif !important;
}

.inconsolate {
  font-family: "Inconsolata", sans-serif !important;
}

.lexend-deca {
  font-family: "Lexend Deca", sans-serif !important;
}

.source-code {
  font-family: "Source Code Pro", sans-serif !important;
}

.gabarito {
  font-family: "Gabarito", sans-serif !important;
}
