.container {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  height: 500px;
}

.personal {
  /* background-color: var(--secondary-hover-bg); */
  background-color: transparent;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.location {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.contactForm {
  background-color: var(--blue-dark);
  padding: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

@media only screen and (max-width: 786px) {
  .container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .personal {
    gap: 25px;
  }
}
