.container {
  width: 100%;
  height: auto;
  background: var(--container-bg-dark);
  min-height: 100px;
  padding: 40px 50px;
  text-align: justify;
  display: grid;
  list-style: none;
}

.bordered {
  /* border: 1px solid var(--container-border); */
  border-radius: 6px;
}
