.container {
  width: 100%;
  height: auto;
  background: var(--container-bg-dark);
  min-height: 100px;
  padding: 40px 20px;
  text-align: justify;

  list-style: none;
  /* Absolute */
  position: relative;
}

.bordered {
  border-radius: 6px;
}

.header {
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 5px;
  background: var(--container-title-bg);
  padding-left: 30px;
}

.icon {
  position: absolute;
  top: -28px;
  left: 0;
}

.content {
  padding: 0 30px;
}
