.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem;
  width: 100%;
  gap: 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.navLinks {
  display: flex;
}

.navLink {
  margin-left: 1.5rem;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #60a5fa;
}

.menuButton {
  display: block;
}
