/* WindowChoice.module.css */
.selectMenu {
  height: 30px;
  background-color: var(--background);
  border-radius: 8px;
  outline: none;
  border: none;
  display: flex;
  gap: 10px;
  align-items: center;
  box-shadow: var(--shadow-md);
}

.selectItem {
  width: 100%;
  height: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: var(--background);
  color: var(--foreground);
  border-radius: 4px;
  outline: none;
  border: none;
  gap: 20px;
  align-items: center;
  padding-bottom: 5px;
  padding: 50px;
  box-shadow: var(--shadow-md);
}

.selectItem:hover {
  background-color: #e0e0e0; /* Hover effect */
}
