.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  margin: 40px 0;
  /* padding: 60px 0; */
}

.title {
  text-transform: uppercase;
}

.content {
  width: 100%;
  height: auto;
  background: var(--container-bg-dark);
  min-height: 100px;
  padding: 50px 25px;
  text-align: justify;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bordered {
  /* border: 1px solid var(--container-border); */
  border-radius: 6px;
}

.skillsBlock {
  flex: 1;
  padding: 30px;
}

.skillsBlock:not(:last-child) {
  border-right: 2px solid var(--container-border);
}

.skillsTitle {
  display: flex;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  background: var(--container-title-bg);
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.label {
  font-size: 28px;
  text-transform: capitalize;
}

.body {
  width: 100%;
  display: grid;
  grid-template-columns: 85px 1fr;
}

.body p {
  line-height: 24px;
}

.leftDeco {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.bar {
  background: var(--container-border);
  width: 5px;
  height: 100%;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  .body {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }

  .content {
    width: 100%;
    grid-template-columns: 1fr;
  }

  .skillsBlock {
    padding: 20px 0px;
  }

  .skillsBlock:not(:last-child) {
    border-right: none;
    border-bottom: 2px solid var(--container-border);
  }
}
